@import "lib/bourbon/bourbon";
@import "lib/neat/neat";


/* ========================================================================== */

$max-width: rem(1088);
$tablet:	rem(800);
$mobile:	rem(500);


// Neat omega reset by www.joshfry.me
@mixin omega-reset($nth) {
  &:nth-child(#{$nth}) { margin-right: flex-gutter($grid-columns, $gutter); }
  &:nth-child(#{$nth}+1) { clear: none }
}
/////

@mixin gridMargin($rem) {
	@include media(max-width $rem * 1.2, 12) {
		@include shift(1);
    	@include span-columns(10 of 12);
    }
}

@mixin tinyGridMargin($rem) {
	@include media(max-width $rem * 1.2, 24) {
		@include shift-in-context(1 of 24);
    	@include span-columns(22);
    }
}

@mixin threeWidthGrid {
	@include gridMargin($max-width);
	@include tinyGridMargin($mobile);
}

@mixin bigThirds {

	@include span-columns(3);
	@include omega(4n);

	@include media(max-width $max-width * 1.2) {
		@include omega-reset(4n);
    	@include span-columns(4);
    	@include omega(3n);
    }

	@include media(max-width $tablet * 1.2) {
		@include omega-reset(3n);
    	@include span-columns(6);
    	@include omega(2n);
    }

    @include media(max-width $mobile * 1.2) {
    	@include omega-reset(2n);
    	@include span-columns(12);
    }
    
}

@mixin fullBg {
	background-repeat: no-repeat !important;
	background-attachment: fixed; 
	background-position: center center !important;
	background-size: cover !important;
}

@font-face {font-family: 'helveticaLight'; src: local('Helvetica'); font-weight: 100;}
@font-face {font-family: 'helveticaRegular'; src: local('Helvetica'); font-weight: 500;}

$hiliteColor: 	#b3d4fc;
$bgColor : 		#fff;
$textColor: 	#000;
$fontStack1:	"fira-sans-2", "FiraSansUL", "helveticaLight", sans-serif;
$fontStack2:	"fira-sans-2", "FiraSansB", "helveticaRegular", sans-serif;

//$defaultWeight: 200;
$defaultWeight: 500;

@import "partials/bpDefaults";
/* ========================================================================== */

body, html {
	font-size: 100%;
	background: $bgColor;
}

body {
	color: $textColor;
	font-family: $fontStack1;
	font-weight: $defaultWeight;
	font-size: 1.75rem;

	@include media (max-width $max-width * 1.2) {
		font-size: 1.5rem;
	}
	@include media (max-width $tablet) {
		font-size: 1.2rem;
	}
}

section {
	position: relative;
}

h1 {
	@extend .bolder;
	font-size: 1.3em;
}

a {
	text-decoration: none;
}

a {
	position: relative;
	color: $textColor;
	text-decoration: none;
}

//From http://tobiasahlin.com/blog/css-trick-animating-link-underlines/
.no-touch a.linkAnim:hover {
	text-decoration: underline;
}
.csstransforms.csstransitions a.linkAnim {
	text-decoration: none;
}

.csstransforms.csstransitions a.linkAnim:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: #000;
	visibility: hidden;
	@include transform(scaleX(0));
	@include transition(all 0.3s ease-out 0s);
}

.csstransforms.csstransitions.no-touch a.linkAnim:hover:before {
	visibility: visible;
	@include transform(scaleX(1));
}
//////


.bolder {
	font-family: $fontStack2;
	font-weight: $defaultWeight + 100;
}

.spacer {
	display: block;
	min-height: 1rem;
}


.medSpacer {
	display: block;
	min-height: 7rem;
	@include media(max-width $tablet){
		min-height: 4rem;
	}
	@include media(max-width $mobile){
		min-height: 2.5rem;
	}
}

.bigSpacer {
	display: block;
	min-height: 14rem;
	@include media(max-width $tablet){
		min-height: 8rem;
	}
	@include media(max-width $mobile){
		min-height: 5rem;
	}
}

.gridded {
	@include outer-container;
	.fullWidth { @include span-columns(12); }
	@include threeWidthGrid;
}

.opacity.csstransitions .gridded {
	p, h1 {
		@include transition(opacity 1.5s linear);
		opacity: 1.0;
	}
}

.wf-loading .gridded {
	p, h1 {
		visibility: hidden;
	}
}

.opacity.csstransitions.wf-loading .gridded {
	p, h1 {
		opacity: 0.0;
	}
}


#nodeField {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: 0;
	overflow: hidden;
}

.frontCover {
	background: #ccc;
	min-height: 100vh;
}

.introText {	
}

.projectEntry {
	background: #ccc;
	margin-bottom: $gutter/2;
	@include bigThirds;

	div {
		width: 100%;
		padding-bottom: 100%;
		@include media (max-width $mobile * 1.2) {
			padding-bottom: 50%;
		}
		@include fullBg;
	}
}

/* ========================================================================== */
/* THE CUBE */ 

@import "partials/cube";

/* ========================================================================== */









/* ========================================================================== */
@import "partials/helpers";
@import "partials/print";