html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

/* ========================================================================== */
/* HTML5 Boilerplate: opinionated defaults */
/* ========================================================================== */
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

audio, canvas, iframe, img, svg, video {
  vertical-align: middle; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

textarea {
  resize: vertical; }

/* ========================================================================== */
body, html {
  font-size: 100%;
  background: #fff; }

body {
  color: #000;
  font-family: "fira-sans-2", "Fira Sans", sans-serif;
  font-weight: 500; }

section {
  position: relative; }

h1 {
  font-size: 1.3em; }

a {
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

.bolder, h1 {
  font-weight: 600; }

.spacer {
  display: block;
  min-height: 1rem; }

.bigSpacer {
  display: block;
  min-height: 14rem; }
@media screen and (max-width: 50rem) {
  .bigSpacer {
    min-height: 8rem; } }
@media screen and (max-width: 31.25rem) {
  .bigSpacer {
    min-height: 5rem; } }

.gridded {
  max-width: 68rem;
  margin-left: auto;
  margin-right: auto; }
.gridded::after {
  clear: both;
  content: "";
  display: table; }
.gridded .fullWidth {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
.gridded .fullWidth:last-child {
  margin-right: 0; }
@media screen and (max-width: 81.6rem) {
  .gridded {
    margin-left: 8.5298%;
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 82.94039%; }
  .gridded:last-child {
    margin-right: 0; } }
@media screen and (max-width: 37.5rem) {
  .gridded {
    margin-left: 4.2649%;
    float: left;
    display: block;
    margin-right: 1.16509%;
    width: 91.56958%; }
  .gridded:last-child {
    margin-right: 0; } }

#nodeField {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 0;
  overflow: hidden; }

.introText {
  font-size: 1.75rem; }
@media screen and (max-width: 81.6rem) {
  .introText {
    font-size: 1.5rem; } }
@media screen and (max-width: 50rem) {
  .introText {
    font-size: 1.2rem; } }

/* ========================================================================== */
/* THE CUBE */
#theBlackBox {
  width: 100%;
  height: 400px;
  background-color: #ccc;
  -webkit-perspective: 1500px;
  -moz-perspective: 1500px;
  perspective: 1500px;
  -webkit-perspective-origin: 50% 200px;
  -moz-perspective-origin: 50% 200px;
  perspective-origin: 50% 200px;
  -webkit-transform: scale(0.7, 0.7);
  -moz-transform: scale(0.7, 0.7);
  -ms-transform: scale(0.7, 0.7);
  -o-transform: scale(0.7, 0.7);
  transform: scale(0.7, 0.7);
  background: none;
  padding-top: 120px;
  height: 600px;
  margin: 0em;
  margin-top: -8rem;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  margin-right: 0em !important; }
#theBlackBox:last-child {
  margin-right: 0; }
@media screen and (max-width: 60rem) {
  #theBlackBox {
    -webkit-transform: scale(0.56, 0.56);
    -moz-transform: scale(0.56, 0.56);
    -ms-transform: scale(0.56, 0.56);
    -o-transform: scale(0.56, 0.56);
    transform: scale(0.56, 0.56);
    margin-top: -9rem;
    margin-bottom: -5rem; } }
@media screen and (max-width: 50rem) {
  #theBlackBox {
    -webkit-transform: scale(0.49, 0.49);
    -moz-transform: scale(0.49, 0.49);
    -ms-transform: scale(0.49, 0.49);
    -o-transform: scale(0.49, 0.49);
    transform: scale(0.49, 0.49);
    margin-top: -11rem;
    margin-bottom: -6rem; } }
@media screen and (max-width: 31.25rem) {
  #theBlackBox {
    -webkit-transform: scale(0.56, 0.56);
    -moz-transform: scale(0.56, 0.56);
    -ms-transform: scale(0.56, 0.56);
    -o-transform: scale(0.56, 0.56);
    transform: scale(0.56, 0.56);
    margin-top: -11rem;
    margin-bottom: -9rem; } }

@media screen and (max-width: 31.25rem) {
  p.belowCube {
    padding-top: 300px; } }

.cube {
  position: relative;
  margin: 0 auto 100px;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: rotateX(-15deg) rotateY(45deg);
  -moz-transform: rotateX(-15deg) rotateY(45deg);
  -ms-transform: rotateX(-15deg) rotateY(45deg);
  -o-transform: rotateX(-15deg) rotateY(45deg);
  transform: rotateX(-15deg) rotateY(45deg);
  height: 400px;
  width: 400px; }

.cube > div {
  position: absolute;
  height: 360px;
  width: 360px;
  padding: 20px;
  box-sizing: content-box !important;
  background-color: #0a0a0a;
  border: 4px solid #333;
  border-radius: 8px; }

.opacity .cube > div {
  opacity: 0.75;
  -webkit-transition: opacity 1s ease-out;
  -moz-transition: opacity 1s ease-out;
  transition: opacity 1s ease-out; }

.opacity #theBlackBox:hover .cube > div {
  opacity: 1.0; }

.cube > div:first-child {
  -webkit-transform: rotateX(90deg) translateZ(200px);
  -moz-transform: rotateX(90deg) translateZ(200px);
  -ms-transform: rotateX(90deg) translateZ(200px);
  -o-transform: rotateX(90deg) translateZ(200px);
  transform: rotateX(90deg) translateZ(200px); }

.cube > div:nth-child(2) {
  -webkit-transform: translateZ(200px);
  -moz-transform: translateZ(200px);
  -ms-transform: translateZ(200px);
  -o-transform: translateZ(200px);
  transform: translateZ(200px); }

.cube > div:nth-child(3) {
  -webkit-transform: rotateY(90deg) translateZ(200px);
  -moz-transform: rotateY(90deg) translateZ(200px);
  -ms-transform: rotateY(90deg) translateZ(200px);
  -o-transform: rotateY(90deg) translateZ(200px);
  transform: rotateY(90deg) translateZ(200px); }

.cube > div:nth-child(4) {
  -webkit-transform: rotateY(180deg) translateZ(200px);
  -moz-transform: rotateY(180deg) translateZ(200px);
  -ms-transform: rotateY(180deg) translateZ(200px);
  -o-transform: rotateY(180deg) translateZ(200px);
  transform: rotateY(180deg) translateZ(200px); }

.cube > div:nth-child(5) {
  -webkit-transform: rotateY(-90deg) translateZ(200px);
  -moz-transform: rotateY(-90deg) translateZ(200px);
  -ms-transform: rotateY(-90deg) translateZ(200px);
  -o-transform: rotateY(-90deg) translateZ(200px);
  transform: rotateY(-90deg) translateZ(200px); }

.cube > div:nth-child(6) {
  -webkit-transform: rotateX(-90deg) rotate(180deg) translateZ(200px);
  -moz-transform: rotateX(-90deg) rotate(180deg) translateZ(200px);
  -ms-transform: rotateX(-90deg) rotate(180deg) translateZ(200px);
  -o-transform: rotateX(-90deg) rotate(180deg) translateZ(200px);
  transform: rotateX(-90deg) rotate(180deg) translateZ(200px); }

/* ========================================================================== */
/* ========================================================================== */
/* HTML5 Helper classes */
/* ========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

.hidden {
  display: none !important; }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/*
 * Hide visually and from screen readers, but maintain layout
 */
.invisible {
  visibility: hidden; }

.clearfix:before, .clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

/* Print Styles  */
/* ========================================================================== */
@media print, (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */ }
@media print {
  *, *:before, *:after, *:first-letter, *:first-line {
    background: transparent !important;
    box-shadow: none !important;
    text-shadow: none !important; }

  a, a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  a[href^="#"]:after, a[href^="javascript:"]:after {
    content: ""; }

  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  tr, img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  p, h2, h3 {
    orphans: 3;
    widows: 3; }

  h2, h3 {
    page-break-after: avoid; } }

/*# sourceMappingURL=main.css.map */
