html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

/* ========================================================================== */
@font-face {
  font-family: 'helveticaLight';
  src: local("Helvetica");
  font-weight: 100;
}

@font-face {
  font-family: 'helveticaRegular';
  src: local("Helvetica");
  font-weight: 500;
}

/* HTML5 Boilerplate: opinionated defaults */
/* ========================================================================== */
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
  -webkit-tap-highlight-color: transparent;
}

*, *:before, *:after {
  -webkit-tap-highlight-color: transparent;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

/* ========================================================================== */
body, html {
  font-size: 100%;
  background: #fff;
}

body {
  color: #000;
  font-family: "fira-sans-2", "FiraSansUL", "helveticaLight", sans-serif;
  font-weight: 500;
  font-size: 1.75rem;
}

@media screen and (max-width: 81.6rem) {
  body {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 50rem) {
  body {
    font-size: 1.2rem;
  }
}

section {
  position: relative;
}

h1 {
  font-size: 1.3em;
}

a {
  position: relative;
  color: #000;
  text-decoration: none;
}

.no-touch a.linkAnim:hover {
  text-decoration: underline;
}

.csstransforms.csstransitions a.linkAnim {
  text-decoration: none;
}

.csstransforms.csstransitions a.linkAnim:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -o-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.csstransforms.csstransitions.no-touch a.linkAnim:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -ms-transform: scaleX(1);
  -o-transform: scaleX(1);
  transform: scaleX(1);
}

.bolder, h1 {
  font-family: "fira-sans-2", "FiraSansB", "helveticaRegular", sans-serif;
  font-weight: 600;
}

.smaller {
  font-size: 0.8em;
}

.muchSmaller {
  font-size: 0.5em;
}

.spacer {
  display: block;
  min-height: 1rem;
}

.medSpacer {
  display: block;
  min-height: 2.5rem;
}

@media screen and (min-height: 46.875rem) {
  .medSpacer {
    min-height: 4rem;
  }
}

@media screen and (min-height: 75rem) {
  .medSpacer {
    min-height: 6rem;
  }
}

@media screen and (min-height: 102rem) {
  .medSpacer {
    min-height: 7rem;
  }
}

.margBotMedSpacer {
  padding-bottom: 2.5rem;
}

@media screen and (min-height: 46.875rem) {
  .margBotMedSpacer {
    padding-bottom: 4rem;
  }
}

@media screen and (min-height: 75rem) {
  .margBotMedSpacer {
    padding-bottom: 6rem;
  }
}

@media screen and (min-height: 102rem) {
  .margBotMedSpacer {
    padding-bottom: 7rem;
  }
}

.bigSpacer {
  display: block;
  min-height: 5rem;
}

@media screen and (min-height: 46.875rem) {
  .bigSpacer {
    min-height: 8rem;
  }
}

@media screen and (min-height: 75rem) {
  .bigSpacer {
    min-height: 11rem;
  }
}

@media screen and (min-height: 102rem) {
  .bigSpacer {
    min-height: 14rem;
  }
}

.margBotBigSpacer {
  padding-bottom: 5rem;
}

@media screen and (min-height: 46.875rem) {
  .margBotBigSpacer {
    padding-bottom: 8rem;
  }
}

@media screen and (min-height: 75rem) {
  .margBotBigSpacer {
    padding-bottom: 11rem;
  }
}

@media screen and (min-height: 102rem) {
  .margBotBigSpacer {
    padding-bottom: 14rem;
  }
}

.gridded {
  max-width: 68rem;
  margin-left: auto;
  margin-right: auto;
}

.gridded::after {
  clear: both;
  content: "";
  display: table;
}

.gridded .fullWidth {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
}

.gridded .fullWidth:last-child {
  margin-right: 0;
}

@media screen and (max-width: 81.6rem) {
  .gridded {
    margin-left: 8.5298%;
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 82.94039%;
  }
  .gridded:last-child {
    margin-right: 0;
  }
}

@media screen and (max-width: 37.5rem) {
  .gridded {
    margin-left: 4.21521%;
    float: left;
    display: block;
    margin-right: 1.16509%;
    width: 91.56958%;
  }
  .gridded:last-child {
    margin-right: 0;
  }
}

.opacity.csstransitions .gridded p, .opacity.csstransitions .gridded h1, .opacity.csstransitions .gridded .projects, .opacity.csstransitions .gridded .frontCover {
  -webkit-transition: opacity 1.5s linear;
  -moz-transition: opacity 1.5s linear;
  transition: opacity 1.5s linear;
  opacity: 1.0;
}

.wf-loading .gridded p, .wf-loading .gridded h1, .wf-loading .gridded .projects, .wf-loading .gridded .frontCover {
  visibility: hidden;
}

.opacity.csstransitions.wf-loading .gridded p, .opacity.csstransitions.wf-loading .gridded h1, .opacity.csstransitions.wf-loading .gridded .projects, .opacity.csstransitions.wf-loading .gridded .frontCover {
  opacity: 0.0;
}

.noSpaceDown {
  margin-bottom: 0em;
}

.noSpaceDown + * {
  margin-top: 0em;
}

.noSpaceUp {
  margin-top: 0em;
}

#nodeField {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 0;
  overflow: hidden;
}

.frontCover {
  min-height: 100vh;
}

.projectEntry {
  margin-bottom: 0.809em;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 23.23176%;
  overflow: hidden;
}

.projectEntry:last-child {
  margin-right: 0;
}

.projectEntry:nth-child(4n) {
  margin-right: 0;
}

.projectEntry:nth-child(4n+1) {
  clear: left;
}

@media screen and (max-width: 81.6rem) {
  .projectEntry {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%;
  }
  .projectEntry:nth-child(4n) {
    margin-right: 2.35765%;
  }
  .projectEntry:nth-child(4n+1) {
    clear: none;
  }
  .projectEntry:last-child {
    margin-right: 0;
  }
  .projectEntry:nth-child(3n) {
    margin-right: 0;
  }
  .projectEntry:nth-child(3n+1) {
    clear: left;
  }
}

@media screen and (max-width: 60rem) {
  .projectEntry {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%;
  }
  .projectEntry:nth-child(3n) {
    margin-right: 2.35765%;
  }
  .projectEntry:nth-child(3n+1) {
    clear: none;
  }
  .projectEntry:last-child {
    margin-right: 0;
  }
  .projectEntry:nth-child(2n) {
    margin-right: 0;
  }
  .projectEntry:nth-child(2n+1) {
    clear: left;
  }
}

@media screen and (max-width: 37.5rem) {
  .projectEntry {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
  }
  .projectEntry:nth-child(2n) {
    margin-right: 2.35765%;
  }
  .projectEntry:nth-child(2n+1) {
    clear: none;
  }
  .projectEntry:last-child {
    margin-right: 0;
  }
}

.projectEntry div {
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  overflow: hidden;
  background-repeat: no-repeat !important;
  background-attachment: fixed;
  background-position: center center !important;
  background-size: cover !important;
}

.projectEntry div .projName {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1rem;
  font-size: 0.8em;
  background: none;
  background: rgba(0, 0, 0, 0.75);
  color: white;
}

@media screen and (max-width: 37.5rem) {
  .projectEntry div {
    padding-bottom: 50%;
  }
  .projectEntry div .projName {
    font-size: 1.4em;
    background: none;
    background: rgba(0, 0, 0, 0.5);
  }
}

.csstransitions.no-touch .projectEntry {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transition: 0.3s ease-out;
  -moz-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

.csstransitions.no-touch .projectEntry div .projName {
  top: 100%;
  -webkit-transition: top 0.4s ease-in-out;
  -moz-transition: top 0.4s ease-in-out;
  transition: top 0.4s ease-in-out;
}

.csstransitions.no-touch .projectEntry:hover {
  -webkit-filter: none;
  filter: none;
}

.csstransitions.no-touch .projectEntry:hover div .projName {
  top: 0;
}

/* project page */
img.projCover, img.projImage {
  width: 100%;
  margin-bottom: 0.809em;
}

img.projColumns {
  margin-bottom: 0.809em;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%;
}

img.projColumns:last-child {
  margin-right: 0;
}

img.projColumns:nth-child(2n) {
  margin-right: 0;
}

img.projColumns:nth-child(2n+1) {
  clear: left;
}

@media screen and (max-width: 60rem) {
  img.projColumns {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
  }
  img.projColumns:nth-child(2n) {
    margin-right: 2.35765%;
  }
  img.projColumns:nth-child(2n+1) {
    clear: none;
  }
  img.projColumns:last-child {
    margin-right: 0;
  }
}

/* footer */
footer {
  background: none;
  padding: 1.8rem 0rem;
  width: 100%;
  display: inline-block;
  position: relative;
  font-size: 1.0rem;
  color: #000;
}

@media screen and (min-width: 50rem) {
  footer {
    font-size: 1.1rem;
  }
}

footer ul {
  line-height: 1.5em;
  padding: 0;
}

footer ul a {
  color: #000;
}

@media screen and (min-width: 50rem) {
  footer ul {
    float: left;
    line-height: 1.8em;
    padding: 2rem 0rem 0.5rem 0rem;
  }
}

footer ul li {
  list-style: none;
  padding-right: 1em;
}

@media screen and (min-width: 50rem) {
  footer ul li {
    display: inline;
    text-align: left;
  }
}

@media screen and (min-width: 50rem) {
  footer .footer-secondary-links {
    float: right;
  }
}

footer .footer-secondary-links ul.footer-social {
  margin: 0.5rem 0 4rem 0;
  padding-top: 1em;
}

footer .footer-secondary-links ul.footer-social li {
  font-size: 1.1em;
  float: left;
  line-height: 0;
  margin: 0;
  padding-right: 0.7em;
}

footer .footer-secondary-links ul.footer-social li:last-child {
  padding-right: 0;
}

footer .footer-secondary-links ul.footer-social img {
  height: 1.5em;
  padding: 1px;
}

@media screen and (min-width: 50rem) {
  footer .footer-secondary-links ul.footer-social {
    margin: 2rem 0 0 0;
    float: right;
  }
  footer .footer-secondary-links ul.footer-social li {
    font-size: 1.3em;
  }
}

.no-touch.opacity.csstransforms.csstransitions footer a.linkAnim:before {
  background-color: #000;
}

.no-touch.opacity.csstransforms.csstransitions footer .socialLink {
  opacity: 0.6;
  -webkit-transition: opacity 0.5s linear;
  -moz-transition: opacity 0.5s linear;
  transition: opacity 0.5s linear;
}

.no-touch.opacity.csstransforms.csstransitions footer .socialLink:hover {
  opacity: 1.0;
}

/* ========================================================================== */
/* THE CUBE */
#theBlackBox {
  width: 100%;
  height: 400px;
  background-color: #ccc;
  -webkit-perspective: 1500px;
  -moz-perspective: 1500px;
  perspective: 1500px;
  -webkit-perspective-origin: 50% 200px;
  -moz-perspective-origin: 50% 200px;
  perspective-origin: 50% 200px;
  -webkit-transform: scale(0.7, 0.7);
  -moz-transform: scale(0.7, 0.7);
  -ms-transform: scale(0.7, 0.7);
  -o-transform: scale(0.7, 0.7);
  transform: scale(0.7, 0.7);
  background: none;
  padding-top: 120px;
  height: 600px;
  margin: 0em;
  margin-top: -8rem;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  margin-right: 0em !important;
}

#theBlackBox:last-child {
  margin-right: 0;
}

@media screen and (max-width: 60rem) {
  #theBlackBox {
    -webkit-transform: scale(0.56, 0.56);
    -moz-transform: scale(0.56, 0.56);
    -ms-transform: scale(0.56, 0.56);
    -o-transform: scale(0.56, 0.56);
    transform: scale(0.56, 0.56);
    margin-top: -9rem;
    margin-bottom: -5rem;
  }
}

@media screen and (max-width: 50rem) {
  #theBlackBox {
    -webkit-transform: scale(0.49, 0.49);
    -moz-transform: scale(0.49, 0.49);
    -ms-transform: scale(0.49, 0.49);
    -o-transform: scale(0.49, 0.49);
    transform: scale(0.49, 0.49);
    margin-top: -11rem;
    margin-bottom: -6rem;
  }
}

@media screen and (max-width: 31.25rem) {
  #theBlackBox {
    -webkit-transform: scale(0.56, 0.56);
    -moz-transform: scale(0.56, 0.56);
    -ms-transform: scale(0.56, 0.56);
    -o-transform: scale(0.56, 0.56);
    transform: scale(0.56, 0.56);
    margin-top: -11rem;
    margin-bottom: -9rem;
  }
}

@media screen and (max-width: 31.25rem) {
  p.belowCube {
    padding-top: 300px;
  }
}

.cube {
  position: relative;
  margin: 0 auto 100px;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: rotateX(-15deg) rotateY(45deg);
  -moz-transform: rotateX(-15deg) rotateY(45deg);
  -ms-transform: rotateX(-15deg) rotateY(45deg);
  -o-transform: rotateX(-15deg) rotateY(45deg);
  transform: rotateX(-15deg) rotateY(45deg);
  height: 400px;
  width: 400px;
}

.cube > div {
  position: absolute;
  height: 360px;
  width: 360px;
  padding: 20px;
  box-sizing: content-box !important;
  background-color: #0a0a0a;
  border: 4px solid #333;
  border-radius: 8px;
}

.no-touch.opacity .cube {
  opacity: 0.75;
  -webkit-transition: opacity 1s ease-out;
  -moz-transition: opacity 1s ease-out;
  transition: opacity 1s ease-out;
}

.no-touch.opacity #theBlackBox:hover .cube {
  opacity: 1.0;
}

.touch.opacity .cube {
  opacity: 0.75;
}

@-webkit-keyframes pulse {
  from {
    opacity: 0.75;
  }
  20% {
    opacity: 1.0;
  }
  30% {
    opacity: 1.0;
  }
  to {
    opacity: 0.75;
  }
}

@-moz-keyframes pulse {
  from {
    opacity: 0.75;
  }
  20% {
    opacity: 1.0;
  }
  30% {
    opacity: 1.0;
  }
  to {
    opacity: 0.75;
  }
}

@keyframes pulse {
  from {
    opacity: 0.75;
  }
  20% {
    opacity: 1.0;
  }
  30% {
    opacity: 1.0;
  }
  to {
    opacity: 0.75;
  }
}

.touch.opacity .cube.pulse {
  -webkit-animation: pulse 2s linear 1;
  -moz-animation: pulse 2s linear 1;
  animation: pulse 2s linear 1;
}

.cube > div:first-child {
  -webkit-transform: rotateX(90deg) translateZ(200px);
  -moz-transform: rotateX(90deg) translateZ(200px);
  -ms-transform: rotateX(90deg) translateZ(200px);
  -o-transform: rotateX(90deg) translateZ(200px);
  transform: rotateX(90deg) translateZ(200px);
}

.cube > div:nth-child(2) {
  -webkit-transform: translateZ(200px);
  -moz-transform: translateZ(200px);
  -ms-transform: translateZ(200px);
  -o-transform: translateZ(200px);
  transform: translateZ(200px);
}

.cube > div:nth-child(3) {
  -webkit-transform: rotateY(90deg) translateZ(200px);
  -moz-transform: rotateY(90deg) translateZ(200px);
  -ms-transform: rotateY(90deg) translateZ(200px);
  -o-transform: rotateY(90deg) translateZ(200px);
  transform: rotateY(90deg) translateZ(200px);
}

.cube > div:nth-child(4) {
  -webkit-transform: rotateY(180deg) translateZ(200px);
  -moz-transform: rotateY(180deg) translateZ(200px);
  -ms-transform: rotateY(180deg) translateZ(200px);
  -o-transform: rotateY(180deg) translateZ(200px);
  transform: rotateY(180deg) translateZ(200px);
}

.cube > div:nth-child(5) {
  -webkit-transform: rotateY(-90deg) translateZ(200px);
  -moz-transform: rotateY(-90deg) translateZ(200px);
  -ms-transform: rotateY(-90deg) translateZ(200px);
  -o-transform: rotateY(-90deg) translateZ(200px);
  transform: rotateY(-90deg) translateZ(200px);
}

.cube > div:nth-child(6) {
  -webkit-transform: rotateX(-90deg) rotate(180deg) translateZ(200px);
  -moz-transform: rotateX(-90deg) rotate(180deg) translateZ(200px);
  -ms-transform: rotateX(-90deg) rotate(180deg) translateZ(200px);
  -o-transform: rotateX(-90deg) rotate(180deg) translateZ(200px);
  transform: rotateX(-90deg) rotate(180deg) translateZ(200px);
}

/* ========================================================================== */
/* ========================================================================== */
/* HTML5 Helper classes */
/* ========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.hidden {
  display: none !important;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */
.invisible {
  visibility: hidden;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* Print Styles  */
/* ========================================================================== */
@media print {
  *,
  *:before,
  *:after,
  *:first-letter,
  *:first-line {
    background: transparent !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
