html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

/* ========================================================================== */
/* HTML5 Boilerplate: opinionated defaults */
/* ========================================================================== */
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

audio, canvas, iframe, img, svg, video {
  vertical-align: middle; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

textarea {
  resize: vertical; }

/* ========================================================================== */
body, html {
  font-size: 100%;
  background: #fff; }

body {
  color: #000;
  font-family: "fira-sans-2", "Fira Sans", sans-serif;
  font-weight: 500; }

section {
  position: relative; }

h1 {
  font-size: 1.3em; }

a {
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

.bolder, h1 {
  font-weight: 600; }

.spacer {
  display: block;
  min-height: 1rem; }

.gridded {
  max-width: 68rem;
  margin-left: auto;
  margin-right: auto; }
.gridded::after {
  clear: both;
  content: "";
  display: table; }
.gridded .fullWidth {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
.gridded .fullWidth:last-child {
  margin-right: 0; }
@media screen and (max-width: 81.6rem) {
  .gridded {
    margin-left: 8.5298%;
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 82.94039%; }
  .gridded:last-child {
    margin-right: 0; } }
@media screen and (max-width: 37.5rem) {
  .gridded {
    margin-left: 4.2649%;
    float: left;
    display: block;
    margin-right: 1.16509%;
    width: 91.56958%; }
  .gridded:last-child {
    margin-right: 0; } }

#nodeField {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 0;
  overflow: hidden; }

.introText {
  font-size: 1.75rem; }
@media screen and (max-width: 81.6rem) {
  .introText {
    font-size: 1.5rem; } }
@media screen and (max-width: 50rem) {
  .introText {
    font-size: 1.2rem; } }

/* ========================================================================== */
/* HTML5 Helper classes */
/* ========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

.hidden {
  display: none !important; }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/*
 * Hide visually and from screen readers, but maintain layout
 */
.invisible {
  visibility: hidden; }

.clearfix:before, .clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

/* Print Styles  */
/* ========================================================================== */
@media print, (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */ }
@media print {
  *, *:before, *:after, *:first-letter, *:first-line {
    background: transparent !important;
    box-shadow: none !important;
    text-shadow: none !important; }

  a, a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  a[href^="#"]:after, a[href^="javascript:"]:after {
    content: ""; }

  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  tr, img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  p, h2, h3 {
    orphans: 3;
    widows: 3; }

  h2, h3 {
    page-break-after: avoid; } }

/*# sourceMappingURL=main.css.map */
