<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="Hi. I'm Ivaylo Getov. I’m a cofounder and Creative Director at Luxloop, a creative-technology studio. I make interactive art using technology. I’d love to talk to you." />

  <link rel="SHORTCUT ICON" href="/assets/img/favicon.ico" />

  <script src="/assets/js/typekit.js"></script>

  <link rel="stylesheet" href="/assets/css/normalize.min.css">
  <link rel="stylesheet" href="/assets/css/main.css">
  <script src="/assets/js/vendor/modernizr-2.8.3.min.js"></script>
</head>
