$initialScale: 0.7;


// ANIMATE THE COLOR WHEN ACTIVE

#theBlackBox {
    width: 100%;
    height: 400px;
    background-color: #ccc;
    @include perspective(1500px);
    @include perspective-origin(50% 200px);
    @include transform(scale($initialScale,$initialScale));
    background: none;
    padding-top: 120px;
    height: 600px;
    margin: 0em;
    margin-top: -8rem;

    @include span-columns(12);

    @include media(max-width $tablet * 1.2) {
        @include transform(scale($initialScale * 0.8,$initialScale * 0.8));
        margin-top: -9rem;
        margin-bottom: -5rem;
    }

    @include media(max-width $tablet) {
        @include transform(scale($initialScale * 0.7,$initialScale * 0.7));
        margin-top: -11rem;
        margin-bottom: -6rem;
    }

    @include media(max-width $mobile) {
        @include transform(scale($initialScale * 0.8,$initialScale * 0.8));
        margin-top: -11rem;
        margin-bottom: -9rem;
        // @include shift(-0.25);
    }

    margin-right: 0em !important;

}


p.belowCube {
    @include media(max-width $mobile) {
        padding-top: 300px; 
    }
}

.cube {
    position: relative;
    margin: 0 auto 100px;
    @include transform-style(preserve-3d);
    @include transform(rotateX(-15deg) rotateY(45deg));
    height: 400px;
    width: 400px;
}

.cube > div {
    position: absolute;
    height: 360px;
    width: 360px;
    padding: 20px;
    box-sizing: content-box !important;
    background-color: #0a0a0a;
    // background-color: rgba(10, 10, 10, 0.8);
    border: 4px solid #333;
    border-radius: 8px;
}

.opacity .cube > div {
    opacity: 0.75;
    @include transition(opacity 1.0s ease-out);
}

.opacity #theBlackBox:hover .cube > div {
    opacity: 1.0;
}

.cube > div:first-child {
    @include transform(rotateX(90deg) translateZ(200px));
}

.cube > div:nth-child(2) {
    @include transform(translateZ(200px));
}

.cube > div:nth-child(3) {
    @include transform(rotateY(90deg) translateZ(200px));
}

.cube > div:nth-child(4) {
    @include transform(rotateY(180deg) translateZ(200px));
}

.cube > div:nth-child(5) {
    @include transform(rotateY(-90deg) translateZ(200px));
}

.cube > div:nth-child(6) {
    @include transform(rotateX(-90deg) rotate(180deg) translateZ(200px));
}
