<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{{title}} &mdash; Ivaylo Getov Dot Com</title>
        <meta name="description" content="{{ shortDescription }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">


        <script src="/js/typekit.js"></script>

        <link rel="stylesheet" href="/css/normalize.min.css">
        <link rel="stylesheet" href="/css/main.css">
        <script src="/js/vendor/modernizr-2.8.3.min.js"></script>
    </head>
    <body id="cvBody">
        {% include "prompt.html" %}
        <div id="nodeField"></div>

        <section class="gridded">
            <div class="fullWidth projects">
                <div class="bigSpacer"></div>

                <h1>Ivaylo Getov - Curriculum Vitae</h1>

                <div class="medSpacer"></div>
                <h2>Profile</h2>
                <p>
                    Born in Sofia, Bulgaria; lived in Los Angeles, Brooklyn, South Africa; currently based in Los Angeles. <br/>
                    Media Artist. Producer (Creative Direction, Interactive Design, Cinematography).  <br/>
                    Co-founder of <a href="http://luxloop.com" class="cvLink" target="_blank">Luxloop</a>, a creative technology studio based in NY and LA. <br/>
                    US and EU Citizen.
                </p>

                <div class="medSpacer"></div>
                <h2>Selected Exhibitions/Screenings/Publications</h2>
                <ul class="pubs">

                    <li>
                        <a href="http://overheard.luxloop.com/" class="cvLink" target="_blank">Overheard</a> - June, 2016 - Immersive audio-narrative iOS app at the Minneapolis Institute of Art (as Luxloop)
                    </li>

                    <li>
                        <a href="http://icantmakeuloveu.com/" class="cvLink" target="_blank">Pigments</a> - April, 2016 - Interactive Music video for electronic artist Elohim (as Luxloop)
                    </li>

                    <li>
                        <a href="http://www.medialoungenyc.com/" class="cvLink" target="_blank">Media Lounge NYC</a> - November, 2015 - Group Show featuring “If The Walls had Eyes” (as Luxloop)
                    </li>

                    <li>
                        <a href="http://yami-ichi.biz/nyc/" class="cvLink" target="_blank">Internet Yami Ichi</a> - 12 September, 2015 - "The ​Internet Yami-­​Ichi​ is a free­​-to­​-attend flea market where people gather and exchange “Internet­​-ish”​ things in real life." (as Luxloop)
                    </li>

                    <li>
                        <a href="http://www.elconfidencial.com/tecnologia/2015-08-23/social-sound-twitter-orquesta-musica_977600/" class="cvLink" target="_blank">El Confidencial</a> - 23 August, 2015 - Technology feature article about Luxloop and “Social Sound”
                    </li>

                    <li>
                        <a href="https://thecreatorsproject.vice.com/blog/social-sound-is-a-tool-for-turning-twitter-into-live-sound-art" class="cvLink" target="_blank">VICE: The Creators Project</a> - 26 July, 2015 - Feature article about “Social Sound” (as Luxloop)
                    </li>

                    <li>
                        <a href="http://prostheticknowledge.tumblr.com/post/125026527276/social-sound-creative-project-by-luxloop-is-tool" class="cvLink" target="_blank">Prosthetic Knowledge</a> - 25 July, 2015 - Feature article about “Social Sound” (as Luxloop)
                    </li>

                    <li>
                        <a href="http://artcards.cc/newyork/show/62602-If-The-Walls-Had-Eyes-SELECT-FAIR" class="cvLink" target="_blank">SELECT FAIR, NYC</a> - 13-17 May, 2015 - Show of interactive work “If the Walls Had Eyes” (as Luxloop)
                    </li>

                    <li>
                        <a href="http://onenightstand-la.com/" class="cvLink" target="_blank">ONE NIGHT STAND, LA</a> - 2015 - Group show of interactive work. (as Luxloop)
                    </li>

                    <li>
                        <a href="" class="cvLink" target="_blank">Lift Conference, Geneva</a> - 2015 - New Techniques in Science Storytelling (with “Axion”)
                    </li>

                    <li>
                        <a href="http://www.culturehub.org/refest" class="cvLink" target="_blank">Refest</a> - 2014 - Show of interactive work at Culture Hub, LaMaMa Theater, NYC (as Luxloop)
                    </li>

                    <li>
                        <a href="http://axionexperience.tumblr.com/post/99753596133/axion-won-the-ndpc-special-award-for-the-best" class="cvLink" target="_blank">Filmteractive Festival</a> - 6 October, 2014 - NDPC Special Award for Best Project at Filmteractive Market (for “Axion”)
                    </li>

                    <li>
                        <a href="http://www.bbc.com/news/technology-26938150" class="cvLink" target="_blank">BBC News</a> - 11 April, 2014 - BBC News fearure about CERN Story Matter Hackathon, featuring "Axion"
                    </li>

                    <li>
                        <a href="http://www.bbc.co.uk/programmes/p01tmmzv" class="cvLink" target="_blank">BBC World Service</a> - 19 March, 2014 - BBC episode of "Click" featuring "Axion" at CERN Story Matter Hackathon
                    </li>

                    <li>
                        <a href="https://tribecafilminstitute.org/events/detail/tribeca_hacks_story_matter" class="cvLink" target="_blank">CineGlobe</a> - 19 March, 2014 - International Film Festival of Science held at CERN (with "Axion")
                    </li>

                    <li>
                        <a href="" class="cvLink" target="_blank">You Are Here</a> - 18 July, 2013 - Group show at 3rd Ward, Brooklyn, NY (with "Untitled(Triptych)")
                    </li>

                    <li>
                        <a href="" class="cvLink" target="_blank">Duality</a> - July 2013 - Group show at Linus Galleries, Los Angeles (with "Untitled(Triptych)")
                    </li>

                    <li>
                        <a href="http://frameratesshow.tumblr.com/" class="cvLink" target="_blank">FRAMERATES</a> - 16-18 November, 2012 - Video art group show at The Brewery, Downtown Los Angeles (role: curator)
                    </li>

                    <li>
                        <a href="http://www.psfk.com/2012/12/basement-window-stores-bulgaria.html" class="cvLink" target="_blank">PSFK</a> - 7 December, 2012 - Photo essay: "Bulgarian Squat Shops"
                    </li>

                    <li>
                        <a href="http://www.brooklynfilmfestival.org/films/detail.asp?fid=1117" class="cvLink" target="_blank">Brooklyn Film Festival</a> - June 2011- Winner: Audience Choice Award for "Pose"
                    </li>

                </ul>

                <!-- <div class="medSpacer"></div>
                <h2>Selected Projects</h2>
                <ul class="projs">
                    <li>
                        <a href="" class="cvLink" target="_blank">ONE NIGHT STAND, LA</a> - 2015 - Show of interactive work “If the Walls Had Eyes” (as Luxloop)
                    </li>

                </ul> -->

                <!-- <div class="medSpacer"></div>
                <h2>Skills</h2>
                <p class="indent">

                </p> -->

                <div class="medSpacer"></div>
                <h2>Teaching/Lectures/Presentations</h2>
                <p style="margin-bottom: 0em;">
                    Eyeo Festival 2016
                </p>
                <ul class="edu">
                    <li>Ignite Talk: "The UX of Story" (as Luxloop)</li>
                    <li>June 2016</li>
                </ul>

                <p style="margin-bottom: 0em;">
                    Agencia de Apoyo a la Arquitectura de Barcelona (Agency for the Support of Architecture, Barcelona)
                </p>
                <ul class="edu">
                    <li>Guest Lecturer: "Urbanism in Media"</li>
                    <li>March 2012</li>
                </ul>

                <p style="margin-bottom: 0em;">
                    University of Arizona, Tucson - College of Architecture, Planning, and Landscape Architecture
                </p>
                <ul class="edu">
                    <li>Guest Lecturer: "Urbanism in Media"</li>
                    <li>November 2010</li>
                </ul>

                <p style="margin-bottom: 0em;">
                    NYU Tisch Summer High School Film Workshop
                </p>
                <ul class="edu">
                    <li>Prof: Richard Litvin</li>
                    <li>Head TA (2009) - Responsible for managing 11 TAs and 28 students, as well as lecturing on technical and
aesthetic aspects of film production.</li>
                    <li>Assistant TA (2007 - 08) - Responsible for managing groups of four students, producing individual film projects, and
teaching aspects of producing and directing.</li>
                </ul>


                <div class="medSpacer"></div>
                <h2>Education</h2>
                <p style="margin-bottom: 0em;">
                    New York University Tisch School of the Arts
                </p>
                <ul class="edu">
                    <li>Bachelor of Fine Arts (Film &amp; Television, 2009 Dean’s List)</li>
                    <li>Minor Concentration in Philosophy and Ethics</li>
                    <li>Documentary Production Program - Ludwig Foundation, Havana, Cuba - 2008</li>
                </ul>

                <!-- <div class="medSpacer"></div>
                <h2>Teaching Experience</h2>
                <p>
                    Urbanism in Film - 2012 - Guest Lecture at the Agencia de Apoyo a la Arquitectura, Barcelona
                </p> -->


                <div class="bigSpacer"></div>

                <p>
                    <a href="" class="linkAnim">back to top</a><br />
                    <a href="/" class="linkAnim">back to main</a>
                </p>

                <div class="medSpacer"></div>

            </div>
            <!-- <a href="" class="cvLink" target="_blank"></a> -->

        </section>

        {% include "footer.html" %}


        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="/js/vendor/jquery-2.1.4.min.js"><\/script>')</script>

        <script src="//cdnjs.cloudflare.com/ajax/libs/p5.js/0.4.7/p5.min.js"></script>
        <script>window.p5 || document.write('<script src="/js/vendor/p5.min.js"><\/script>')</script>

        <script src="/js/encode.min.js"></script>
        <script src="/js/detectmobile.min.js"></script>
        <script src="/js/vector2d.min.js"></script>
        <script src="/js/vendor/jquery.fitvids.js"></script>

        <script src="/js/nodeField.js"></script>
        <script src="/js/main.js"></script>


        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script src="/js/analytics.js"></script>
    </body>
</html>
