<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Ivaylo Getov Dot Com</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">


        <script src="/js/typekit.js"></script>

        <link rel="stylesheet" href="/css/normalize.min.css">
        <link rel="stylesheet" href="/css/main.css">
        <script src="/js/vendor/modernizr-2.8.3.min.js"></script>
    </head>
    <body class="editPage">

        <!-- <div id="nodeField"></div> -->

        <section class="gridded">
            <div class="fullWidth projects">
                <div class="bigSpacer"></div>

                <h1> Edit Data </h1>

                <select name="projectsList" onChange="loadData(this);">
                  <option value="0" selected>Choose Project:</option>
                  {% for proj in allProjects %}
                  <option value='{{proj._id|json|}}'>{{proj.title}}</option>
                  {% endfor %}
                  <option value="1">Create new...</option>
                </select>
            </div>
        </section>

        <section class="gridded infoSection">
            <div class="fullWidth projects" data-key="title">

                <div class="description">Title</div>
                <div class="values"><input type="text" name="title"></div>
            </div>
        </section>

        <section class="gridded infoSection">
            <div class="fullWidth projects" data-key="tags">

                <div class="description">Tags</div>
                <div class="values"><input type="text" name="tags"></div>
            </div>
        </section>

        <section class="gridded infoSection">
            <div class="fullWidth projects" data-key="coverImg">

                <div class="description">Cover (Img or Vid)</div>
                <div class="values"><input type="text" name="coverImg"></div>
            </div>
        </section>

        <section class="gridded infoSection">
            <div class="fullWidth projects" data-key="thumb">

                <div class="description">Thumbnail Image</div>
                <div class="values"><input type="text" name="thumb"></div>
            </div>
        </section>

        <section class="gridded infoSection">
            <div class="fullWidth projects" data-key="shortDescription">

                <div class="description">Short Description</div>
                <div class="values"><input type="text" name="shortDescription"></div>
            </div>
        </section>

        <section class="gridded infoSection">
            <div class="fullWidth projects" data-key="longDescription">

                <div class="description">Long Description</div>
                <div class="values"><textarea name="longDescription" rows="10"></textarea></div>
            </div>
        </section>

        <section class="gridded infoSection">
            <div class="fullWidth projects" data-key="media">

                <div class="description">
                    Media
                    <a href="#plus" class="mediaModify"></a><div class="icon icon-plus"></div></a>
                    <a href="#minus" class="mediaModify"><div class="icon icon-minus"></div></a>
                </div>
                <div class="values"><input type="text" name="media1" class="mediaEntry"></div>
            </div>
        </section>

        <section class="gridded infoSection">
            <div class="fullWidth projects" data-key="projectDate">

                <div class="description">Date</div>
                <div class="values"><input type="date" name="projectDate"></div>
            </div>
        </section>

        <section class="gridded infoSection">
            <div class="fullWidth projects" data-key="priority">

                <div class="description">Priority</div>
                <div class="values"><input type="number" name="priority" min="0" max="50" value="0"></div>
            </div>
        </section>

        <section class="gridded infoSection">
            <div class="fullWidth projects" data-key="linkText">

                <div class="description">Link Text</div>
                <div class="values"><input type="text" name="linkText"></div>
            </div>
        </section>


        <section class="gridded">
            <div class="fullWidth projects">

                <div class="bigSpacer"></div>

                <p>
                    <a href="/" class="linkAnim">back to main</a>
                </p>

                <div class="medSpacer"></div>

            </div>

        </section>


        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="/js/vendor/jquery-2.1.4.min.js"><\/script>')</script>

        <script src="//cdnjs.cloudflare.com/ajax/libs/p5.js/0.4.7/p5.min.js"></script>
        <script>window.p5 || document.write('<script src="/js/vendor/p5.min.js"><\/script>')</script>

        <script src="/js/encode.min.js"></script>
        <script src="/js/detectmobile.min.js"></script>
        <script src="/js/vector2d.min.js"></script>
        <script src="/js/vendor/jquery.fitvids.js"></script>

        <script src="/js/nodeField.js"></script>
        <script src="/js/main.js"></script>
        <script src="/js/edit.js"></script>


        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script src="/js/analytics.js"></script>
    </body>
</html>
