<footer role="contentinfo" id="theFooter">
    <div class="gridded">
        <div class="fullWidth">
            <ul>
              <li class="hiddenEmail"></li>
              <li class="hiddenPhone"></li>
            </ul>

            <div class="footer-secondary-links">
              <ul class="footer-social">
                <li><a href="//instagram.com/ivaylopg/" target="_blank">
                  <img src="/img/social/insta.svg" onerror="this.onerror=null; this.src='img/social/insta.png'" alt="insta" class="socialLink">
                  </a></li>
                <li><a href="//github.com/ivaylopg" target="_blank">
                  <img src="/img/social/github.svg" onerror="this.onerror=null; this.src='img/social/github.png'" alt="github" class="socialLink">
                  </a></li>
                <li><a href="//twitter.com/ivaylopg" target="_blank">
                  <img src="/img/social/twitter.svg" onerror="this.onerror=null; this.src='img/social/twitter.png'" alt="twitter" class="socialLink">
                  </a></li>
                <li><a href="//blog.ivaylogetov.com/" target="_blank">
                  <img src="/img/social/tumblr.svg" onerror="this.onerror=null; this.src='img/social/tumblr.png'" alt="tumblr" class="socialLink">
                </a></li>
                <li><a href="//vimeo.com/ivaylogetov/" target="_blank">
                  <img src="/img/social/vimeo.svg" onerror="this.onerror=null; this.src='img/social/vimeo.png'" alt="vimeo" class="socialLink">
                </a></li>
              </ul>
            </div>
        </div>
    </div>
</footer>
