<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{{ title }} &mdash; Ivaylo Getov Dot Com</title>
        <meta name="description" content="{{ shortDescription }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">


        <script src="/js/typekit.js"></script>

        <link rel="stylesheet" href="/css/normalize.min.css">
        <link rel="stylesheet" href="/css/main.css">
        <script src="/js/vendor/modernizr-2.8.3.min.js"></script>
    </head>
    <body class="projectPage">
        {% include "prompt.html" %}
        <div id="nodeField"></div>

        <section class="gridded">
            <div class="fullWidth projects">
                <div class="bigSpacer"></div>

                <h1>{{ title }}</h1>

                <p>
                    <span class="muchSmaller">
                    {% for tag in tags %}
                      <a href="/tagged/{{tag|lower}}" class="linkAnim tagLink">{{tag|upper}}</a>
                      {% if !loop.last %}&nbsp;//{% endif %}
                    {% endfor %}
                    <span>
                </p>

                <p>{{shortDescription}}</p>

                <div class="spacer"></div>

                {% if coverImg.indexOf('vimeo') !== -1 %}
                    <div class="fullWidth vidContainer">
                        <iframe src="{{coverImg}}" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                    </div>
                {% elif coverImg.indexOf('youtube') !== -1 %}
                {% else %}
                    <img src="{{coverImg}}" class="projCover">
                {% endif %}

                <div class="spacer"></div>

                {{longDescription|marked}}

                <div class="spacer"></div>


                {% for obj in media %}
                    {% if obj.src.length == 2 %}
                        <div class="fullWidth">
                            <img src="{{obj.src[0]}}" class="projColumns">
                            <img src="{{obj.src[1]}}" class="projColumns">
                        </div>
                    {% elif obj.src.indexOf('vimeo') !== -1 %}
                        <div class="fullWidth vidContainer">
                            <iframe src="{{obj.src}}" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                        </div>
                    {% elif obj.src.indexOf('youtube') !== -1 %}
                    {% else %}
                        <img src="{{obj.src}}" class="projImage">
                    {% endif %}
                {% endfor %}

                <p>
                    <a href="#" class="linkAnim scrollLink">back to top</a><br />
                    <a href="/" class="linkAnim">back to main</a>
                </p>

                <div class="medSpacer"></div>

            </div>

        </section>

        {% include "footer.html" %}


        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="/js/vendor/jquery-2.1.4.min.js"><\/script>')</script>

        <script src="//cdnjs.cloudflare.com/ajax/libs/p5.js/0.4.7/p5.min.js"></script>
        <script>window.p5 || document.write('<script src="/js/vendor/p5.min.js"><\/script>')</script>

        <script src="/js/encode.min.js"></script>
        <script src="/js/detectmobile.min.js"></script>
        <script src="/js/vector2d.min.js"></script>
        <script src="/js/vendor/jquery.fitvids.js"></script>

        <script src="/js/nodeField.js"></script>
        <script src="/js/main.js"></script>


        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script src="/js/analytics.js"></script>
    </body>
</html>
