<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{{ title }} &mdash; Ivaylo Getov Dot Com</title>
        <meta name="description" content="{{ shortDescription }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">


        <script src="/js/typekit.js"></script>

        <link rel="stylesheet" href="/css/normalize.min.css">
        <link rel="stylesheet" href="/css/main.css">
        <script src="/js/vendor/modernizr-2.8.3.min.js"></script>
    </head>
    <body class="tagPage">
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div id="nodeField"></div>

        <section class="gridded">

            <div class="medSpacer"></div>

            <div class="fullWidth projects margBotMedSpacer">
                <div class="fullWidth" id="theProjects">
                    <h1>Recent Work{% if tagged %}/{{tagged|upper}}{% endif %}</h1>
                </div>
                {% for proj in projects %}
                <div class="projectEntry{% for tag in proj.tags %} {{tag|lower}}{% endfor %}">
                    <a href="/{{proj.linkText}}">
                    <div style="background: url({{proj.thumb}})">
                        <div class="projName">
                            {{proj.title}}<br>
                            <span class="muchSmaller">{% for tag in proj.tags %}{{tag|upper}}{% if !loop.last %}&nbsp;//&nbsp;{% endif %}{% endfor %}</span>
                        </div>
                    </div>
                    </a>
                </div>
                {% endfor %}
            </div>
            <p class="muchSmaller projectTags margBotMedSpacer">
                {% for tag in allTags|uniq %}
                    <a href="/tagged/{{tag|lower}}" class="linkAnim tagLink">{{tag|upper}}</a>&nbsp;//&nbsp;
                {% endfor %}
                <a href="/tagged/allprojects" class="linkAnim tagLink">ALL PROJECTS</a>
            </p>

            <p>
                <a href="/" class="linkAnim">back to main</a>
            </p>




        </section>

        {% include "footer.html" %}


        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="/js/vendor/jquery-2.1.4.min.js"><\/script>')</script>

        <script src="//cdnjs.cloudflare.com/ajax/libs/p5.js/0.4.7/p5.min.js"></script>
        <script>window.p5 || document.write('<script src="/js/vendor/p5.min.js"><\/script>')</script>

        <script src="/js/encode.min.js"></script>
        <script src="/js/detectmobile.min.js"></script>
        <script src="/js/vector2d.min.js"></script>
        <script src="/js/vendor/jquery.fitvids.js"></script>

        <script src="/js/nodeField.js"></script>
        <script src="/js/main.js"></script>


        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script src="/js/analytics.js"></script>
    </body>
</html>
