---
layout: default
---

<section class="gridded">
  <div class="introText fullWidth frontCover">
    <div class="bigSpacer"></div>

    <h1>Hello.</h1>

    <p>I'm Ivaylo Getov.</p>

    <p>
      Most of the time I'm a cofounder and <span class="italic">Technical Director of Creative</span> at <a href="http://luxloop.com" class="bolder linkAnim" target="_blank">Luxloop</a>, a creative-technology studio.
    </p>

    <p>
      The rest of the time I'm a Media Artist struggling with the <a href="whatido" class="bolder linkAnim" target="_blank">lack of a good word</a> to encapsulate what I do. Some adjectives that have been used to describe me include:  Director, Coder, Artist, Photographer, Designer, Programmer, Cinematographer, Producer, Teacher, Consultant, and Karaoke Superstar.
    </p>

    <p>
      This is my personal page. Take a look at some of the <a href="#theProjects" class="bolder linkAnim scrollLink">projects</a>. Or even better, go check out <a href="http://luxloop.com" class="bolder linkAnim" target="_blank">Luxloop</a>, which is where I’m putting most of my public creative energy these days. If you're looking for my CV, that's <a href="/cv" class="bolder linkAnim">here</a>. All my contact info and social media stuff is down at the <a href="#theFooter" class="bolder linkAnim scrollLink">bottom</a> of every page.
    </p>
    <p>
      I try to keep this page up to date and link to projects I contribute to, but this is also where my art projects, ramblings and personal experiments end up. That’s the vibe here. Fair warning. <!-- Scroll down!  -->Take a look around...
    </p>
  </div>
  <div class="introText fullWidth">
    <div class="medSpacer"></div>

    {% assign allProjects = site.posts %}

    {% if allProjects %}
    <div class="fullWidth" id="theProjects">
     <h1>Recent Work<span class="tagHeading"></span></h1>
    </div>

    <div class="fullWidth projects margBotMedSpacer">
    {% for proj in allProjects %}

    {% assign projTags = proj.tags | uniq %}

    <div class="projectEntry{% for tag in proj.tags %} {{tag | downcase}}{% endfor %}">
      <a href="{{proj.url}}">
      <div style="background: url({{proj.thumbnail}})">
        <div class="projName">
          {{proj.title}}<br>
          <span class="muchSmaller">{% for tag in proj.tags %}{{tag | upcase}}{% unless forloop.last %} // {% endunless %}{% endfor %}</span>
        </div>
      </div>
      </a>
    </div>

    {% endfor %}
    </div>

    <div class="tagHider"></div>

    <p class="muchSmaller projectTags margBotMedSpacer">
      {% capture site_tags %}{% for tag in site.tags %}{{ tag | first }}{% unless forloop.last %},{% endunless %}{% endfor %}{% endcapture %}
      {% assign tag_words = site_tags | split:',' | sort %}

      {% for tag in tag_words | uniq %}
      <a href="http://ivaylogetov.com/tagged#{{tag | downcase}}" class="linkAnim tagLink">{{tag | upcase}}</a>{% unless forloop.last %} // {% endunless %}
      {% endfor %} //// <a href="http://ivaylogetov.com/tagged" class="linkAnim tagLink">ALL PROJECTS</a>
    </p>

    {% endif %}

  </div>
</section>
