---
layout: default
---

<section class="gridded">
  <div class="introText fullWidth frontCover">
    <div class="bigSpacer"></div>

    <h1>Hello.</h1>

    <p>I'm <span class="bolder">Ivaylo Getov</span>.</p>

    <p>
      I’m an <span class="">Interactive Producer/Director</span> and Media Artist. I Specialize in <span class="">Creative/Technical Direction</span>, <span class="">Interaction Design</span>, and <span class="">Software Development</span> for public experiences that <span class="">use technology to bring people together</span> and have a good time.
    </p>

    <p>
      In 2015 I co-founded <a href="http://luxloop.com" class="bolder linkAnim" target="_blank">Luxloop</a>, a creative technology studio based in NY and LA where we brought our background as filmakers to developing interactive stories with artists, museums, and brands.
    </p>

    <p>
      I was born in Sofia, Bulgaria and I have lived in Brooklyn, South Africa, and Havana. Currently I’m based in Los Angeles. I am a US and EU Citizen, which comes in handy. I struggle with finding the best description or title for <a href="whatido" class="bolder linkAnim" target="_blank">what I do</a> because I don’t think the perfect word exisits yet. Some adjectives that have been used to describe me include: Director, Coder, Artist, Professor, Photographer, Designer, Programmer, Producer, Consultant, and Karaoke Superstar.
    </p>

    <p>
      This is my personal page. Take a look at some of the <a href="#theProjects" class="bolder linkAnim scrollLink">projects</a>. If you'd rather be formal, you can take a look at <a href="/ivaylogetovcv.pdf" class="bolder linkAnim">my CV</a>. All my contact info and social media stuff is down at the <a href="#theFooter" class="bolder linkAnim scrollLink">bottom</a> of every page.
    </p>

    <p>
      I try to keep this page up to date and link to projects I contribute to, but this is also where my art projects, ramblings and personal experiments end up. That’s the vibe here. Fair warning. <!-- Scroll down!  -->Take a look around...
    </p>
  </div>
  <div class="introText fullWidth">
    <div class="medSpacer"></div>

    {% assign allProjects = site.posts %}

    {% if allProjects %}
    <div class="fullWidth" id="theProjects">
     <h1>Recent Work<span class="tagHeading"></span></h1>
    </div>

    <p class="muchSmaller projectTags margBotMedSpacer">
      {% capture site_tags %}{% for tag in site.tags %}{{ tag | first }}{% unless forloop.last %},{% endunless %}{% endfor %}{% endcapture %}
      {% assign tag_words = site_tags | split:',' | uniq | sort %}

      {% for tag in tag_words %}
      <a href="http://ivaylogetov.com/tagged#{{tag | downcase}}" class="linkAnim tagLink">{{tag | upcase}}</a>{% unless forloop.last %} // {% endunless %}
      {% endfor %} //// <a href="http://ivaylogetov.com/tagged" class="linkAnim tagLink">ALL PROJECTS</a>
    </p>

    <div class="fullWidth projects margBotMedSpacer">
    {% for proj in allProjects %}

    {% assign projTags = proj.tags | uniq %}

    <div class="projectEntry{% for tag in proj.tags %} {{tag | downcase}}{% endfor %}">
      <a href="{{proj.url}}">
      <div class="projEntryBackground" style="background: url({{proj.thumbnail}})" {% if proj.thumbnailGif %}data-thumbnailgif="{{proj.thumbnailGif}}"{% endif %}>
        <div class="projName">
          {{proj.title}}<br>
          <span class="muchSmaller">{% for tag in proj.tags %}{{tag | upcase}}{% unless forloop.last %} // {% endunless %}{% endfor %}</span>
        </div>
      </div>
      </a>
    </div>

    {% endfor %}
    </div>

    <div class="tagHider"></div>

    {% endif %}

  </div>
</section>
