---
layout: default
---

<section class="gridded">
  <div class="fullWidth projects">

  <div class="bigSpacer"></div>

    <h1>{{ page.title }}</h1>

    <p>
        <span class="muchSmaller">
        {% assign uniqTags = page.tags | uniq %}
        {% for tag in uniqTags %}
          <a href="/tagged#{{tag | downcase}}" class="linkAnim">{{tag | upcase}}</a>
          {% unless forloop.last %} //{% endunless %}
        {% endfor %}
        <span>
    </p>

    <p>{{page.headline}}</p>

    <div class="spacer"></div>
    {% if page.cover.first.img %}
      <img src="{{page.cover.first.img}}" class="projCover captioned" {% if page.cover.first.captionClasses %}data-captionClasses="{{ page.cover.first.captionClasses }}"{% endif %} {% if page.cover.first.caption %}data-caption="{{ page.cover.first.caption }}"{% endif %}>
    {% elsif page.cover contains 'vimeo' %}
      <div class="fullWidth vidContainer">
        <iframe src="{{page.cover}}" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
    {% elsif page.cover.first.video contains 'mp4' %}
      <img src="{{page.cover.first.cover}}" class="projCover makeVid" data-vid="{{page.cover.first.video}}">
    {% else %}
        <img src="{{page.cover}}" class="projCover">
    {% endif %}

    <div class="spacer"></div>

    <div class="projPageContent">
    {{content}}
    </div>

    <div class="spacer"></div>

    {% for media in page.media %}
      {% if media.img %}
        <img src="{{media.img}}" class="projImage captioned" {% if media.captionClasses %}data-captionClasses="{{ media.captionClasses}}"{% endif %} {% if media.caption %}data-caption="{{ media.caption }}"{% endif %}>
      {% elsif media contains ',' %}
        {% assign pair = media | split: ',' %}
        <div class="fullWidth">
          {% for member in pair %}
            <img src="{{member}}" class="projColumns">
          {% endfor %}
        </div>
      {% elsif media contains 'vimeo' %}
        <div class="fullWidth vidContainer">
          <iframe src="{{media}}" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
      {% elsif media.video contains 'mp4' %}
        <img src="{{media.cover}}" class="projCover makeVid" data-vid="{{media.video}}">
      {% else %}
        <img src="{{media}}" class="projImage">
      {% endif %}
    {% endfor %}

    {% if page.sections %}
      {% for section in page.sections %}
        <!-- <div class="medSpacer"></div> -->
        {% if section.heading %}
          <div class="medSpacer"></div>
          <h2>{{ section.heading }}</h2>
        {% endif %}

        {% if section.text %}
          <div class="projPageContent">
          {{section.text}}
          </div>
          <div class="medSpacer"></div>
        {% endif %}

        {% if section.pullquote %}
          <!-- <div class="">
            {{section.pullquote.text}}
          </div>
          <div class="">
            {{section.pullquote.source}}
          </div> -->
          {% for part in section.pullquote %}
            <div class="pullQuote">
              {{part.text}}
            </div>
            <div class="pullQuoteSource">
              {{part.source}}
            </div>
          {% endfor %}
          <div class="medSpacer"></div>
        {% endif %}

        {% if section.media %}
          {% for media in section.media %}
            {% if media.img %}
              <img src="{{media.img}}" class="projImage captioned" {% if media.captionClasses %}data-captionClasses="{{ media.captionClasses}}"{% endif %} {% if media.caption %}data-caption="{{ media.caption }}"{% endif %}>
            {% elsif media contains ',' %}
              {% assign pair = media | split: ',' %}
              <div class="fullWidth">
                {% for member in pair %}
                  <img src="{{member}}" class="projColumns">
                {% endfor %}
              </div>
            {% elsif media contains 'vimeo' %}
              <div class="fullWidth vidContainer">
                <iframe src="{{media}}" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
              </div>
            {% elsif media.video contains 'mp4' %}
              <img src="{{media.cover}}" class="projCover makeVid" data-vid="{{media.video}}">
            {% else %}
              <img src="{{media}}" class="projImage">
            {% endif %}
          {% endfor %}
        {% endif %}

      {% endfor %}
    {% endif %}


    <p>
        <a href="#" class="linkAnim scrollLink">back to top</a><br />
        <a href="/" class="linkAnim">back to main</a>
    </p>

    <div class="medSpacer"></div>

  </div>
</section>
